In [31]:
import pandas as pd

# Đọc và kết hợp dữ liệu
files = ["Data_tiki_bếp từ.csv", "Data_tiki_quạt điện.csv", "Data_tiki_chảo chống dính.csv", "Data_tiki_nồi cơm điện.csv", "Data_tiki_ấm siêu tốc.csv", "Data_tiki_nồi inox.csv"]
categories = ["Bếp Từ", "Quạt Điện", "Chảo Chống Dính", "Nồi Cơm Điện", "Ấm Siêu Tốc", "Nồi"]

data = []
for file, category in zip(files, categories):
    df = pd.read_csv(file)
    df["category"] = category  # Thêm cột phân loại sản phẩm
    data.append(df)

# Kết hợp tất cả các file thành 1 DataFrame
df = pd.concat(data, ignore_index=True)

In [32]:
df

,name,price,original_price,discount,rating,review_count,sales_count,inventory_status,brand_name,seller_name,categories,short_description,link,category
0,Bếp điện từ Elmich ICE 3879 - Hàng Chính Hãng,986000,1800000,45,5.0,9,31,NaN,NaN,Tiki Trading,NaN,NaN,https://tiki.vn/bep-dien-tu-elmich-ice-3879-ha...,Bếp Từ
1,Bếp điện từ Elmich ICE-1832,952000,1490000,36,5.0,2,9,NaN,NaN,Tiki Trading,NaN,NaN,https://tiki.vn/bep-dien-tu-elmich-ice-1831-p2...,Bếp Từ
2,Bếp từ Sunhouse SHD6867 - Hàng Chính Hãng,1290000,1520000,15,0.0,0,0,NaN,NaN,Điện Máy Xanh Official,NaN,NaN,https://tiki.vn/bep-tu-sunhouse-shd6867-hang-c...,Bếp Từ
3,Bếp từ Sunhouse SHD6159 - Hàng Chính Hãng,900000,1060000,15,0.0,0,0,NaN,NaN,Điện Máy Xanh Official,NaN,NaN,https://tiki.vn/bep-tu-sunhouse-shd6159-hang-c...,Bếp Từ
4,Bếp điện từ Elmich ICE-3874 - Hàng chính hãng,1070000,1070000,0,5.0,4,9,NaN,NaN,Alô Bếp,NaN,NaN,https://tiki.vn/bep-dien-tu-elmich-ice-3874-ha...,Bếp Từ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,Bộ Nồi Inox You Cook 3 Đáy Thân Đứng YCS-3PS,1249000,1249000,0,0.0,0,0,NaN,NaN,You Cook Store,NaN,NaN,https://tiki.vn/bo-noi-inox-3-day-you-cook-tha...,Nồi
2996,Nồi nấu thấp Inox 3 lớp Dr.Hows Stella Cassero...,2160000,2160000,0,5.0,1,2,NaN,NaN,Dr.HOWS Official,NaN,NaN,https://tiki.vn/noi-nau-thap-inox-3-lop-dr-how...,Nồi
2997,Nồi lẩu inox 430 cao cấp Fivestar Standard nắp...,256500,285000,10,5.0,2,4,NaN,NaN,Gia Dụng An Nhiên,NaN,NaN,https://tiki.vn/noi-lau-inox-430-cao-cap-fives...,Nồi
2998,KP-24S5PLY Nồi inox 5 lớp đáy liền Korea King ...,2280000,2380000,4,0.0,0,0,NaN,NaN,Korea King Official Store,NaN,NaN,https://tiki.vn/kp-24s5ply-noi-inox-5-lop-day-...,Nồi
2999,KP-22S5PLY Nồi inox 5 lớp đáy liền Korea King ...,2170000,2270000,4,0.0,0,0,NaN,NaN,Korea King Official Store,NaN,NaN,https://tiki.vn/kp-22s5ply-noi-inox-5-lop-day-...,Nồi

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               3000 non-null   object
 1   price              3000 non-null   int64
 2   original_price     3000 non-null   int64
 3   discount           3000 non-null   int64
 4   rating             3000 non-null   float64
 5   review_count       3000 non-null   int64
 6   sales_count        3000 non-null   int64
 7   inventory_status   0 non-null      float64
 8   brand_name         0 non-null      float64
 9   seller_name        3000 non-null   object
 10  categories         0 non-null      float64
 11  short_description  0 non-null      float64
 12  link               3000 non-null   object
 13  category           3000 non-null   object
dtypes: float64(5), int64(5), object(4)
memory usage: 328.3+ KB

In [34]:
columns_to_drop = ['inventory_status','brand_name','categories','short_description','link']
df.drop(columns=columns_to_drop, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            3000 non-null   object
 1   price           3000 non-null   int64
 2   original_price  3000 non-null   int64
 3   discount        3000 non-null   int64
 4   rating          3000 non-null   float64
 5   review_count    3000 non-null   int64
 6   sales_count     3000 non-null   int64
 7   seller_name     3000 non-null   object
 8   category        3000 non-null   object
dtypes: float64(1), int64(5), object(3)
memory usage: 211.1+ KB

In [35]:
# chuyển đổi các cột có dữ liệu chữ từ dạng object thành string
columns_to_string = ['name','seller_name','category']
df[columns_to_string] = df[columns_to_string].astype(pd.StringDtype)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_9520\300175267.py:3: UserWarning: Instantiating StringDtype without any arguments.Pass a StringDtype instance to silence this warning.
  df[columns_to_string] = df[columns_to_string].astype(pd.StringDtype)

In [36]:
# kiểm tra liệu có tồn tại các giá trị không hợp lệ
columns_check = ['price','original_price','rating','discount','review_count','sales_count']
print((df[columns_check] < 0).sum())

price             0
original_price    0
rating            0
discount          0
review_count      0
sales_count       0
dtype: int64

In [37]:
print((df['discount'] > 100).sum())

0

In [38]:
print((df['rating'] > 5).sum())

0

In [39]:
print(df.duplicated().sum())

10

In [40]:
df = df.drop_duplicates()
print(df.duplicated().sum())

0

In [41]:
print(df.isnull().sum())

name              0
price             0
original_price    0
discount          0
rating            0
review_count      0
sales_count       0
seller_name       0
category          0
dtype: int64

In [42]:
columns_check_zero = ['rating','review_count','sales_count']
df = df[(df[columns_check_zero] > 0).all(axis=1)]

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 962 entries, 0 to 2997
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            962 non-null    string
 1   price           962 non-null    int64
 2   original_price  962 non-null    int64
 3   discount        962 non-null    int64
 4   rating          962 non-null    float64
 5   review_count    962 non-null    int64
 6   sales_count     962 non-null    int64
 7   seller_name     962 non-null    string
 8   category        962 non-null    string
dtypes: float64(1), int64(5), string(3)
memory usage: 75.2 KB

In [44]:
# Hàm lọc dữ liệu theo các tiêu chí
def filter_products(df):
    # Lọc các sản phẩm có giá > 0
    df_filtered = df[df["price"] > 0]

    # Lọc các sản phẩm có số lượt đánh giá > 0
    df_filtered = df_filtered[df_filtered["review_count"] > 0]

    # Lọc các sản phẩm có điểm đánh giá >= 4
    df_filtered = df_filtered[df_filtered["rating"] >= 2]

    # Lọc các sản phẩm có số lượt mua > 2
    df_filtered = df_filtered[df_filtered["sales_count"] > 0]

    return df_filtered

In [45]:
df1 = filter_products(df)

In [46]:
df1.to_csv('Data_tiki_general.csv')