In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
Dataframe = pd.read_csv('Data_tiki_general.csv')

In [9]:
pd.options.display.float_format = '{:,.2f}'.format
Dataframe.describe(include='all')

,Unnamed: 0,name,price,original_price,discount,rating,review_count,sales_count,seller_name,category
count,940.00,940,940.00,940.00,940.00,940.00,940.00,940.00,940,940
unique,NaN,926,NaN,NaN,NaN,NaN,NaN,NaN,163,6
top,NaN,"Quạt Tích Điện, Quạt Đứng Thông Minh XIAOMI Sm...",NaN,NaN,NaN,NaN,NaN,NaN,Tiki Trading,Quạt Điện
freq,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,178,227
mean,"1,562.09",NaN,"1,020,641.90","1,222,453.37",13.83,4.65,40.16,237.02,NaN,NaN
std,839.89,NaN,"1,354,094.04","1,562,093.59",18.76,0.51,201.34,"1,169.71",NaN,NaN
min,0.00,NaN,"8,000.00","8,000.00",0.00,2.00,1.00,1.00,NaN,NaN
25%,883.25,NaN,"319,750.00","360,000.00",0.00,4.50,1.00,5.00,NaN,NaN
50%,"1,506.50",NaN,"581,500.00","744,500.00",0.00,4.80,3.00,14.00,NaN,NaN
75%,"2,345.75",NaN,"1,250,000.00","1,564,250.00",29.00,5.00,13.00,57.25,NaN,NaN
max,"2,997.00",NaN,"13,999,000.00","14,375,000.00",72.00,5.00,"2,634.00","15,017.00",NaN,NaN